@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "./variables";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $DMSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-rendering: optimizeLegibility;
}

.wrapper {
  width: 90%;
  margin: 0 auto;

  @media (min-width: $lg) {
    width: 80%;
  }
}

a {
  text-decoration: none;
  color: $white;
}

ul {
  list-style-type: none;
}

@import "./partials/nav";
@import "./partials/hero";
